.card {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:#e0f2f1;
}

.card-body {
    text-align: center;
    
}

.carousel-inner {
    background: teal;
}

.arrows {
    justify-content: center;
}

